@import '../../css/variables';
@import '../../css/mixins';

.streak-wrapper{
  font-size: 25px;
  text-align: right;
  width:auto;
  &.true{
    // color:green;
    animation-name: streaking;
    animation-duration: .75s;
    transform-origin: 60% 10px;
    transform:scale(1);
  }
  &.false{
    // opacity:.5;
    animation-name: streak-broken;
    animation-duration: 1s;
    transform-origin: 60% 10px;

  }
}

.streak-wrapper:after {
    content: '';
    // background-image: url('/public/images/streak.png');
    background-image: url('/images/streak.png');
    width: 10px;
    height: 25px;
    background-size: cover;
    // margin-left: 4px;
    position: absolute;
}

.streak-count{
  margin-right: 3px;
  opacity:1;
  transform:scale(1);
  display: inline-block;
  &.true{
    animation-name: streaking;
    animation-duration: .75s;
    transform-origin: 50% 12px;
  }
  &.false{
    animation-name: streak-broken;
    animation-duration: 1s;
    transform-origin: 60% 10px;
  }
}

@keyframes streaking {
  0%{ transform:scale(1); color:black;}
  50%{ transform:scale(1.3); color:green; }
  75%{ transform:scale(0.9); color:green;}
  100%{ transform:scale(1); color:black;}
}

@keyframes streak-broken {
  0%{ transform:scale(1); color:black;opacity:1;}
  90%{ transform:scale(.85); color:red;opacity:.5; }
  100%{ transform:scale(1); color:black;opacity:1;}
}
