@import '../../css/variables';
@import '../../css/mixins';

.streak-wrapper{
  font-size: 25px;
  width:35px;
  text-align: center;
  position: relative;
  &.true{
    // color:green;
    animation-name: streaking;
    animation-duration: .75s;
    transform-origin: 60% 10px;
    transform:scale(1);
  }
  &.false{
    // opacity:.5;
    animation-name: streak-broken;
    animation-duration: 1s;
    transform-origin: 60% 10px;

  }

}

/*.streak-wrapper:after {
    content: '';
    background-image: url('/public/images/streak.png');
    // background-image: url('/images/streak.png');
    width: 10px;
    height: 25px;
    background-size: cover;
    // margin-left: 4px;
    position: absolute;
}*/
.streak-bg{
  position:absolute;
  top: -7px;
  left: -2px;
  opacity: 0.4;
  img{
    transform-origin: center center;
    transition: transform .7s;
    transform:scale(.8);
    &.active{
      transform:scale(1.2);
      transition: transform .25s;
    }
  }
}
.streak-count{
  opacity:1;
  transform:scale(1);
  display: inline-block;
  &.true{
    animation-name: streaking;
    animation-duration: .75s;
    transform-origin: 50% 12px;
  }
  &.false{
    animation-name: streak-broken;
    animation-duration: 1s;
    transform-origin: 60% 10px;
  }
}
