@import '../../css/variables';
@import '../../css/mixins';

.secondary-nav{
  height:auto;
  .snav{
    padding: 0.5em;
    color: black;
    &.active{
      opacity:.5;
      pointer-events: none;
    }
  }
}
