.tutorial{
  position:absolute;
  top:0;
  padding: 0 12px;
  display: flex;
  height: 98vh;
  justify-content: center;
  align-items: center;
  max-width:296px;
  @media only screen and (min-width: 321px) {
      max-width:352px;
  }
  @media only screen and (min-width: 376px) {
      max-width:401px;
  }

  width:100%;
  .carousel-slider{
    border: 4px solid black!important;
    border-radius: 10px;
    left: -4px;
    .control-dots{
      left:-1em;
    }
    .carousel-status{
      opacity:0;
    }
    .close-btn{
      position: absolute;
      bottom: 10%;
      width: 150px;
      left: 50%;
      margin-left: -75px;
    }
  }
  .carousel .thumbs-wrapper{
    display: none;
  }
}
