@import '../../css/variables';
@import '../../css/mixins';

.health-wrapper{
  margin-top: 5px;
  margin-left:3px;
  .inactive{
    // transition: background-color 1s;
    animation-name: loseHealth;
    animation-fill-mode: forwards;
    animation-duration: 1s;

  }
}
