@import '../../css/variables';
@import '../../css/mixins';

.health-block{
  width: 7px;
  height:20px;
  background-color: green;
  opacity:1;
  display: inline-block;
  float: left;
  margin-right: 3px;
}
