@import '../../css/variables';
@import '../../css/mixins';

.store.main {
  background: transparent url('../../images/bg-creatures.jpg') no-repeat top center;
  background-size:cover;
  .main-fade{
    height:100%;
  }
  .wrapper{
    height: 100%;
    margin: 0;
    padding: 0 5%;
    overflow: auto;
    h1{
      margin-bottom:0;
      font-size: 3em;
    }
  }
}
