@import '../../css/variables';
@import '../../css/mixins';

.legend.main{
  background: transparent url('../../images/bg-clouds.jpg') no-repeat top center;
  background-size:cover;
  .main-fade{
    height:100%;
  }
  .wrapper {
    padding: 0 5%;
    text-align: left;
    height: 100%;
    margin: 0;
    overflow: auto;

    .story{
      margin:2em 0;

      h1{
        font-size: 3em;
        line-height: 0.9em;
        text-align: center;
      }
      p{
        font-weight: bold;
        font-size:1.2em;
      }

    }
    .legend-buttons{
      margin-bottom: 1em;
      a{margin:0 .5em;}
    }

  }
}
