@import '../../css/variables';
@import '../../css/mixins';

.legend.main{
  background: transparent url('../../images/bg.jpg') no-repeat top left;
  background-size:cover;
  // padding: 2em;
  .main-fade{
    height:100%;
  }
  .wrapper {
    text-align: left;
    height: 100%;
    margin: 0 5%;
    overflow: auto;

    h1.legend-title{
      width:100%;
    }

    .credit{
      width:100%;
    }
  }
}
