@import '../../css/variables';
@import '../../css/mixins';

.legend.main{
  background: transparent url('../../images/bg.jpg') no-repeat top center;
  background-size:cover;
  .main-fade{
    height:100%;
  }
  .wrapper {
    padding: 0 5%;
    text-align: left;
    height: 100%;
    margin: 0;
    overflow: auto;

    .story{
      margin-top:2em;
    }

    h1.legend-title{
      font-size: 2.5em;
      line-height: 0.9em;
    }
    // p{text-align: left;}

    .credit{
      width:100%;
    }
    .legend-buttons{
      margin-bottom: 1em;
      a{margin:0 .5em;}
    }

  }
}
