@import '../../css/variables';
@import '../../css/mixins';

.score-wrapper{
  font-size: 13px;
  padding-top: 5px;
  width: auto;
  position: relative;
  text-align: left;
  .inactive{
    opacity: .3;
  }
}
