@import '../../css/variables';
@import '../../css/mixins';

.page-login {
  padding:1rem;
  text-align: center;
  h1{
    margin-bottom: 0.25em;
  }
}

.google-signin.logged{
  display: none;
}

.credit,.instructions{
  font-weight: normal;
}
