@import '../../css/variables';
@import '../../css/mixins';

.bonus-wrapper{
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .75);
  opacity:0;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0s;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  &.init{
    visibility: hidden!important;
  }
  .bonus-overlay{
    width: 100%;
    height: 100%;
    background: none;
    border: 4px solid black;
    margin: 0%;
    position: relative;

    .bonus-glow{
      position: absolute;
      transform: translate(-50%,-50%);
      top: 46%;
      left: 50%;
      img{
        transform-origin: center center;
        transform:scale(0) rotate(0deg);
        opacity:0;
      }
    }

    .bonus-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 90%;
      text-align: center;
      padding: 0 5%;
      .bonus-title{
        opacity:0;
        position: relative;
        top:25px;
        transition: opacity 0s,top 0s;
        text-shadow: 0px 2px 5px #000000;
      }

      .header-img-wrapper{
        transform-origin: center center;
        .bonus-item{
          transform-origin: center center;
          transform: scale(.25);
          opacity:0;
          // top:-100px;
          position: relative;
          transition:transform 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .2s 1s;
        }
        &.shake{
          animation: 1.5s cubic-bezier(.36,.07,.19,.97) 1s infinite reverse both running shake;
          /* duration | timing-function | delay | iteration-count | direction | fill-mode | play-state | name*/
        }
        &.true{
          .bonus-item{
            transform: scale(.8);
            opacity:1;
            // top:0;
          }
        }
      }

      h2,h3{
        text-transform: uppercase;
        font-size: 1.5em;
        margin:0 0 1em;
        color:white;
        line-height: 1em;
      }
      h3{
        font-size: 1.25em;
      }
      .font-normal{
        font-weight: normal;
      }
    }
    .bonus-btns{
      display:flex;
      flex-direction: row;
    }

    .bonus-btn{
      padding: 5px 15px 5px;
      margin:20px 4px 0;
      font-size:15px;
      background-color: white;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid black;
      color:black;
      font-weight: bold;
      &:active, &:visited{
        color:black;
      }
    }

    .close-btn{
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 3px 8px 5px;
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
      border: 2px solid black;
      background: lightblue;
    }
  }

  &.true{
    opacity:1;
    transition:opacity .5s;
    .bonus-overlay{
      .bonus-glow{
        img{
          animation-name: bonus-glow;
          animation-fill-mode: forwards;
          animation-duration: 20s;
          animation-delay: .5s;
          animation-timing-function: linear;
          // transition: transform 1s .5s,opacity 1s .5s;
          // transform:scale(1) rotate(180deg);
          opacity:1;
        }
      }

      .bonus-title{
        opacity:1;
        top:0;
        transition: opacity 1s 2.5s,top 1s 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }
  }
  &.false{
    opacity:0;
    transition: opacity .5s;
    pointer-events: none;
    /* transition: opacity .5s .3s;
    .bonus-overlay{
      transform: scale(0);
      transition: transform .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }*/
  }
}
