@import '../../css/variables';
@import '../../css/mixins';

.eq-wrapper{position: relative;padding:0 1em;}

.eq-top{}

.eq-bot{
  margin-top: -0.2em;
}

.eq-operand{

  width:100%;
  text-align: right;
  font-size: 135px;
  @media only screen and (min-width: 375px) {
      font-size: 180px;
  }

}

.eq-operator{
  position:absolute;
  font-size: 90px;
  top: 1.85em;
  @media only screen and (min-width: 375px) {
      top: 2.8em;
  }

}

.eq-equals{
  width:100%;
  height:5px;
  margin-bottom: 10px;
  background-color: black;
}
