@import '../../css/variables';
@import '../../css/mixins';

.page-main {
  padding:1rem;
  text-align: center;
  h1{
    margin-bottom: 0.25em;
  }
}

.credit,.instructions{
  font-weight: normal;
}

.how-to-play,.stats-btn{
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.instructions{
  margin-top: 0;
  margin-bottom:0em;
  &.section{
    margin:1em auto;
  }
}

.modal-content p {
  margin-top:0;
}

.mb10{
  margin-bottom:1em;
}

.legend{
  position: relative;
  top:6px;
  padding-bottom:0;
}

.main-menu{
  display:flex;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin-top: 2em;
  .menu-btns{
    background: #dedede;
    padding: .75em 0 .5em;
    border-radius: 8px;
    border: 4px solid black;
    width:80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    &.times-table{
      background-color: lightblue;
    }
    a{
      text-align: center;
      text-decoration: none;
      color:black;
      margin:0 auto;
    }
    .inactive{
      opacity:.5;
      pointer-events: none;
    }
    .stopwatch-btn{
      margin-right: 14px;
    }
    .health-btn{
      margin-left: 14px;
    }
    span.menu-name {
      top: 5px;
      position: relative;
    }
  }

}
