@import '../../css/variables';
@import '../../css/mixins';

.progress-wrapper{
  position:relative;
  width:50%;
  // right:80px;
  float: right;
  height:17px;
  right: -2px;
  bottom: 8px;
  border:2px solid #333;
  &:after{
    content: '';
    background: #333;
    width: 20px;
    height: 19px;
    position: absolute;
    top: 0;
    left: 100%;
  }
  .progress-back{
    background: rgb(155,158,0);
    background: linear-gradient(0deg, rgba(155,158,0,1) 0%, rgba(213,217,0,1) 10%, rgba(236,241,0,1) 100%);
    position:relative;
    width:100%;
    height:100%;

  }
  .progress-front{
    background: rgb(168,0,0);
    background: linear-gradient(0deg, rgba(168,0,0,1) 0%, rgba(191,0,0,1) 10%, rgba(255,0,0,1) 100%);
    position:absolute;
    transition: width .5s;
    left:0;
    top:0;
    width:10%;
    height:100%;
  }
  &.training{
    border:2px solid white;
    box-sizing: border-box;
    width:100%;
    float:none;
    right:0;
    bottom:-50px;
    .progress-back{
      background: rgb(2,0,158);
      background: linear-gradient(0deg, rgba(2,0,158,1) 0%, rgba(0,19,217,1) 10%, rgba(0,37,241,1) 100%);
    }
    .progress-front{
      background: rgb(24,135,0);
      background: linear-gradient(0deg, rgba(24,135,0,1) 0%, rgba(20,179,1,1) 10%, rgba(39,214,2,1) 100%);
    }
  }
  .dividers{

    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top:0;
    left:0;
    width: 100%;
    .divider{
      width: 2px;
      position: relative;
      height: 15px;
      background: white;
      &.bookends{opacity:0;}
    }
  }
}
