@import '../../css/variables';
@import '../../css/mixins';



.username.main{
  background: transparent url('../../images/bg-creatures.jpg') no-repeat top center;
  background-size:cover;
  .wrapper{

      .headline{
        font-size:2.5em;
        margin-bottom:0;
        margin-top:4em;
      }

      .sub-copy{
        font-size:1.25em;
        margin-bottom:0em;
      }
      .instructions{
        text-transform: none;
        font-style: italic;
        font-size:1em;
        margin-bottom: 2em;
      }
      input{
        padding:8px;
        text-align:center!important;
        font-weight: bold;
        border: 1px solid gray;
        background:white;
      }
      .is-success{
        color:green;
      }
      .is-danger{
        color:red;
      }
      .help{
        font-weight: normal;
        margin-bottom:2em;
        font-size:1.2em;
        text-transform: lowercase;
      }
  }
}
