@import '../../css/variables';
@import '../../css/mixins';



.username.main{
  background: transparent url('../../images/bg.jpg') no-repeat top center;
  background-size:cover;
  .wrapper{

      .headline{
        font-size:2.5em;
        margin-bottom:0;
      }

      .sub-copy{
        font-size:1.25em;
        margin-bottom:2em;
      }
      input{
        padding:8px;
        text-align:center!important;
        font-weight: bold;
        font-size:16px;
      }
      .is-success{
        color:green;
      }
      .is-danger{
        color:red;
      }
      .help{
        font-weight: normal;
        margin-bottom:2.5em;
      }
  }
}
