@import '../../css/variables';
@import '../../css/mixins';

.answer{
  font-size: 28px;
  text-align: center;
  width:100%;
  background: white;
  padding: .75em 0;
  margin: 1em .25em;
  border-radius: 8px;
  border: 4px solid black;
  outline:none;
  transition: border .25s;
  // background:#ffb3b3;
  &#selected{
    border-color:red;
    transition: border .5s;
  }
  &.correct{
    background:#aefb94;
    &#selected{
      border-color:green;
      transition: border .5s;
    }
  }
  &.incorrect{

  }

  &.unanswered{
    background: white!important;
    &:active{
      background:yellow!important;
    }
  }
}
