@import '../../css/variables';
@import '../../css/mixins';

.navigation.main{
  background: transparent url('../../images/map.jpg') no-repeat top center;
  background-size:cover;
  min-width:320px;
  min-height:568px;
  @media only screen and (min-width: 375px) {
    // height:calc(100vh - 200px);
  }
  .wrapper {
    text-align: left;
    padding: 0%;
    display:block;

    .secondary-nav{
      padding:0 5%;
      margin-bottom: 1em;
      text-align: center;
    }
    .legend-of{
      padding:0 5%;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: black;
    }
    h1{
      margin-bottom: 0;
      font-size: 3em;
      margin-top:-10px;
      text-align: left;
    }
    p.luckiest-guy{
      font-size:1.25em;
      margin:1.5em 0 0 0;
      text-align: left;
    }
  }
}

.credit,.instructions{
  font-weight: normal;
}

.how-to-play,.stats-btn{
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.instructions{
  margin-top: 0;
  margin-bottom:0em;
  &.section{
    margin:1em auto;
  }
}

.modal-content p {
  margin-top:0;
}

.mb10{
  margin-bottom:1em;
}

.legend{
  position: relative;
  top:6px;
  padding-bottom:0;
}

.username{
  text-transform: capitalize;

}
.navigation.main{
  .wrapper{
    .main-menu{
      display:flex;
      flex-grow:1;
      width:100%;
      height:calc(100vh - 240px);
      @media only screen and (min-width: 375px) {
        height:calc(100vh - 250px);
      }
      position: relative;
      flex-wrap: wrap;
      .final-battle{
        position: absolute;
        top:50%;
        left:50%;
        // opacity:0;
        margin-top:-30px;
        margin-left:-30px;
        .level3{
          width:55px;
          height:55px;
          // border-radius: 50%;
          // background: white;
          position: absolute;
          text-align: center;
          font-size: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          color:black;
          text-decoration: none;
          // border:1px solid black;
          background: transparent url('../../images/dragon-fb.png') no-repeat top center;
          background-size:cover;
          &.inactive{

            // background:darkred;pointer-events: none;
            // span{opacity:.5;}
          }
          span{top:7px;position:relative;text-indent:-9999px;}
        }
        &.fb-ready{display:block;opacity:1}
        &.fb-hide{display:none;}
      }
      .nav-section{
        width:50%;
        height:50%;
        position:relative;
        // border: 1px solid black;
        box-sizing: border-box;
        // opacity:.5;
        .banner{
          background: transparent url('../../images/banner.png') no-repeat top center;
          background-size:cover;
          width:110px;
          height:60px;
          // background:chocolate;
          position: absolute;
          // text-align: center;
          font-size: 4em;
          span{
            position: relative;
            left:45%;
          }
        }
        .training,.level1,.level2{
          width:55px;
          height:55px;
          border-radius: 50%;
          background: white;
          position: absolute;
          text-align: center;
          font-size: 3em;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          color:black;
          text-decoration: none;
          border:1px solid black;
          &.inactive{
            background:gray;pointer-events: none;
            span{opacity:.5;}
          }
          span{top:7px;position:relative;}
        }
        &.add{
          border-bottom:1px dashed white;
          border-right:1px dashed white;
          box-sizing: border-box;
          .banner{top:5%;left:-8%;transform: rotate(-20deg);}
          .training{left:15%;top:25%;}
          .level1{left:45%;top:38%;}
          .level2{left:55%;top:65%;}
        }
        &.sub{
          border-bottom:1px dashed white;
          box-sizing: border-box;
          .banner{top:5%;right:-8%;transform: rotate(20deg);}
          .training{right:15%;top:25%;}
          .level1{right:45%;top:38%;}
          .level2{right:55%;top:65%;}
        }
        &.mul{
          border-right:1px dashed white;
          box-sizing: border-box;
          .banner{
            bottom:5%;left:-10%;transform: rotate(210deg);font-size:2.5em;
            span{top:8px;}
          }
          .training{left:15%;bottom:25%;}
          .level1{left:45%;bottom:38%;}
          .level2{left:55%;bottom:65%;}
        }
        &.div{
          .banner{
            bottom:5%;right:-10%;transform: rotate(-210deg);font-size:3.3em;
            span{top:2px;}
          }
          .training{right:15%;bottom:25%;}
          .level1{right:45%;bottom:38%;}
          .level2{right:55%;bottom:65%;}
        }
      }
    }
  }
  &.fb-reveal{
    animation-duration: .3s;
    animation-name: shakeAround;
    animation-timing-function: linear;
    animation-iteration-count: 10;
    animation-direction: forwards;
    .main-menu{
      .final-battle{
        display: block!important;
        // transition:opacity 2s 2s;
        // opacity:0;
        animation-duration: 4s;
        animation-name: slowFadeIn;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-direction:forwards;
        animation-delay: 0s;

      }
    }
  }
}
/*.main-menu{
  display:flex;
  display:none;
  flex-direction: column;
  width:100%;
  align-items: center;
  margin-top: 2em;
  .menu-btns{
    background: #dedede;
    padding: .75em 0 .5em;
    border-radius: 8px;
    border: 4px solid black;
    width:80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    &.times-table{
      background-color: lightblue;
    }
    a{
      text-align: center;
      text-decoration: none;
      color:black;
      margin:0 auto;
    }
    .inactive{
      opacity:.5;
      pointer-events: none;
    }
    .stopwatch-btn{
      margin-right: 14px;
    }
    .health-btn{
      margin-left: 14px;
    }
    span.menu-name {
      top: 5px;
      position: relative;
    }
  }

}*/
