&.add{
  &.notyet{
    &.L1_1_1{-webkit-mask-image: url('../../images/creatures/A1_1_1.png');}
    &.L1_1_2{-webkit-mask-image: url('../../images/creatures/A1_1_2.png');}
    &.L1_1_3{-webkit-mask-image: url('../../images/creatures/A1_1_3.png');}
    &.L2_1_1{-webkit-mask-image: url('../../images/creatures/A2_1_1.png');}
    &.L2_1_2{-webkit-mask-image: url('../../images/creatures/A2_1_2.png');}
    &.L2_1_3{-webkit-mask-image: url('../../images/creatures/A2_1_3.png');}
    &.L2_2_1{-webkit-mask-image: url('../../images/creatures/A2_2_1.png');}
    &.L2_2_2{-webkit-mask-image: url('../../images/creatures/A2_2_2.png');}
    &.L2_2_3{-webkit-mask-image: url('../../images/creatures/A2_2_3.png');}
    &.L3_1_1{-webkit-mask-image: url('../../images/creatures/A3_1_1.png');}
    &.L3_1_2{-webkit-mask-image: url('../../images/creatures/A3_1_2.png');}
    &.L3_1_3{-webkit-mask-image: url('../../images/creatures/A3_1_3.png');}
    &.L3_2_1{-webkit-mask-image: url('../../images/creatures/A3_2_1.png');}
    &.L3_2_2{-webkit-mask-image: url('../../images/creatures/A3_2_2.png');}
    &.L3_2_3{-webkit-mask-image: url('../../images/creatures/A3_2_3.png');}
    &.L3_3_1{-webkit-mask-image: url('../../images/creatures/A3_3_1.png');}
    &.L3_3_2{-webkit-mask-image: url('../../images/creatures/A3_3_2.png');}
    &.L3_3_3{-webkit-mask-image: url('../../images/creatures/A3_3_3.png');}
    /*&.L3_4_1{-webkit-mask-image: url('../../images/creatures/A3_4_1.png');}
    &.L3_4_2{-webkit-mask-image: url('../../images/creatures/A3_4_2.png');}
    &.L3_4_3{-webkit-mask-image: url('../../images/creatures/A3_4_3.png');}*/
  }
  &.gotit{
    &.L1_1_1{background: transparent url('../../images/creatures/A1_1_1.png') no-repeat center center;}
    &.L1_1_2{background: transparent url('../../images/creatures/A1_1_2.png') no-repeat center center;}
    &.L1_1_3{background: transparent url('../../images/creatures/A1_1_3.png') no-repeat center center;}
    &.L2_1_1{background: transparent url('../../images/creatures/A2_1_1.png') no-repeat center center;}
    &.L2_1_2{background: transparent url('../../images/creatures/A2_1_2.png') no-repeat center center;}
    &.L2_1_3{background: transparent url('../../images/creatures/A2_1_3.png') no-repeat center center;}
    &.L2_2_1{background: transparent url('../../images/creatures/A2_2_1.png') no-repeat center center;}
    &.L2_2_2{background: transparent url('../../images/creatures/A2_2_2.png') no-repeat center center;}
    &.L2_2_3{background: transparent url('../../images/creatures/A2_2_3.png') no-repeat center center;}
    &.L3_1_1{background: transparent url('../../images/creatures/A3_1_1.png') no-repeat center center;}
    &.L3_1_2{background: transparent url('../../images/creatures/A3_1_2.png') no-repeat center center;}
    &.L3_1_3{background: transparent url('../../images/creatures/A3_1_3.png') no-repeat center center;}
    &.L3_2_1{background: transparent url('../../images/creatures/A3_2_1.png') no-repeat center center;}
    &.L3_2_2{background: transparent url('../../images/creatures/A3_2_2.png') no-repeat center center;}
    &.L3_2_3{background: transparent url('../../images/creatures/A3_2_3.png') no-repeat center center;}
    &.L3_3_1{background: transparent url('../../images/creatures/A3_3_1.png') no-repeat center center;}
    &.L3_3_2{background: transparent url('../../images/creatures/A3_3_2.png') no-repeat center center;}
    &.L3_3_3{background: transparent url('../../images/creatures/A3_3_3.png') no-repeat center center;}
    /*&.L3_4_1{background: transparent url('../../images/creatures/A3_4_1.png') no-repeat center center;}
    &.L3_4_2{background: transparent url('../../images/creatures/A3_4_2.png') no-repeat center center;}
    &.L3_4_3{background: transparent url('../../images/creatures/A3_4_3.png') no-repeat center center;}*/
  }
}

&.sub{
  &.notyet{
    &.L1_1_1{-webkit-mask-image: url('../../images/creatures/S1_1_1.png');}
    &.L1_1_2{-webkit-mask-image: url('../../images/creatures/S1_1_2.png');}
    &.L1_1_3{-webkit-mask-image: url('../../images/creatures/S1_1_3.png');}
    &.L2_1_1{-webkit-mask-image: url('../../images/creatures/S2_1_1.png');}
    &.L2_1_2{-webkit-mask-image: url('../../images/creatures/S2_1_2.png');}
    &.L2_1_3{-webkit-mask-image: url('../../images/creatures/S2_1_3.png');}
    &.L2_2_1{-webkit-mask-image: url('../../images/creatures/S2_2_1.png');}
    &.L2_2_2{-webkit-mask-image: url('../../images/creatures/S2_2_2.png');}
    &.L2_2_3{-webkit-mask-image: url('../../images/creatures/S2_2_3.png');}
    &.L3_1_1{-webkit-mask-image: url('../../images/creatures/S3_1_1.png');}
    &.L3_1_2{-webkit-mask-image: url('../../images/creatures/S3_1_2.png');}
    &.L3_1_3{-webkit-mask-image: url('../../images/creatures/S3_1_3.png');}
    &.L3_2_1{-webkit-mask-image: url('../../images/creatures/S3_2_1.png');}
    &.L3_2_2{-webkit-mask-image: url('../../images/creatures/S3_2_2.png');}
    &.L3_2_3{-webkit-mask-image: url('../../images/creatures/S3_2_3.png');}
    &.L3_3_1{-webkit-mask-image: url('../../images/creatures/S3_3_1.png');}
    &.L3_3_2{-webkit-mask-image: url('../../images/creatures/S3_3_2.png');}
    &.L3_3_3{-webkit-mask-image: url('../../images/creatures/S3_3_3.png');}
  /*  &.L3_4_1{-webkit-mask-image: url('../../images/creatures/S3_4_1.png');}
    &.L3_4_2{-webkit-mask-image: url('../../images/creatures/S3_4_2.png');}
    &.L3_4_3{-webkit-mask-image: url('../../images/creatures/S3_4_3.png');}*/
  }
  &.gotit{
    &.L1_1_1{background: transparent url('../../images/creatures/S1_1_1.png') no-repeat center center;}
    &.L1_1_2{background: transparent url('../../images/creatures/S1_1_2.png') no-repeat center center;}
    &.L1_1_3{background: transparent url('../../images/creatures/S1_1_3.png') no-repeat center center;}
    &.L2_1_1{background: transparent url('../../images/creatures/S2_1_1.png') no-repeat center center;}
    &.L2_1_2{background: transparent url('../../images/creatures/S2_1_2.png') no-repeat center center;}
    &.L2_1_3{background: transparent url('../../images/creatures/S2_1_3.png') no-repeat center center;}
    &.L2_2_1{background: transparent url('../../images/creatures/S2_2_1.png') no-repeat center center;}
    &.L2_2_2{background: transparent url('../../images/creatures/S2_2_2.png') no-repeat center center;}
    &.L2_2_3{background: transparent url('../../images/creatures/S2_2_3.png') no-repeat center center;}
    &.L3_1_1{background: transparent url('../../images/creatures/S3_1_1.png') no-repeat center center;}
    &.L3_1_2{background: transparent url('../../images/creatures/S3_1_2.png') no-repeat center center;}
    &.L3_1_3{background: transparent url('../../images/creatures/S3_1_3.png') no-repeat center center;}
    &.L3_2_1{background: transparent url('../../images/creatures/S3_2_1.png') no-repeat center center;}
    &.L3_2_2{background: transparent url('../../images/creatures/S3_2_2.png') no-repeat center center;}
    &.L3_2_3{background: transparent url('../../images/creatures/S3_2_3.png') no-repeat center center;}
    &.L3_3_1{background: transparent url('../../images/creatures/S3_3_1.png') no-repeat center center;}
    &.L3_3_2{background: transparent url('../../images/creatures/S3_3_2.png') no-repeat center center;}
    &.L3_3_3{background: transparent url('../../images/creatures/S3_3_3.png') no-repeat center center;}
    /*&.L3_4_1{background: transparent url('../../images/creatures/S3_4_1.png') no-repeat center center;}
    &.L3_4_2{background: transparent url('../../images/creatures/S3_4_2.png') no-repeat center center;}
    &.L3_4_3{background: transparent url('../../images/creatures/S3_4_3.png') no-repeat center center;}*/
  }
}

&.mul{
  &.notyet{
    &.L1_1_1{-webkit-mask-image: url('../../images/creatures/M1_1_1.png');}
    &.L1_1_2{-webkit-mask-image: url('../../images/creatures/M1_1_2.png');}
    &.L1_1_3{-webkit-mask-image: url('../../images/creatures/M1_1_3.png');}
    &.L2_1_1{-webkit-mask-image: url('../../images/creatures/M2_1_1.png');}
    &.L2_1_2{-webkit-mask-image: url('../../images/creatures/M2_1_2.png');}
    &.L2_1_3{-webkit-mask-image: url('../../images/creatures/M2_1_3.png');}
    &.L2_2_1{-webkit-mask-image: url('../../images/creatures/M2_2_1.png');}
    &.L2_2_2{-webkit-mask-image: url('../../images/creatures/M2_2_2.png');}
    &.L2_2_3{-webkit-mask-image: url('../../images/creatures/M2_2_3.png');}
    &.L3_1_1{-webkit-mask-image: url('../../images/creatures/M3_1_1.png');}
    &.L3_1_2{-webkit-mask-image: url('../../images/creatures/M3_1_2.png');}
    &.L3_1_3{-webkit-mask-image: url('../../images/creatures/M3_1_3.png');}
    &.L3_2_1{-webkit-mask-image: url('../../images/creatures/M3_2_1.png');}
    &.L3_2_2{-webkit-mask-image: url('../../images/creatures/M3_2_2.png');}
    &.L3_2_3{-webkit-mask-image: url('../../images/creatures/M3_2_3.png');}
    &.L3_3_1{-webkit-mask-image: url('../../images/creatures/M3_3_1.png');}
    &.L3_3_2{-webkit-mask-image: url('../../images/creatures/M3_3_2.png');}
    &.L3_3_3{-webkit-mask-image: url('../../images/creatures/M3_3_3.png');}
    /*&.L3_4_1{-webkit-mask-image: url('../../images/creatures/M3_4_1.png');}
    &.L3_4_2{-webkit-mask-image: url('../../images/creatures/M3_4_2.png');}
    &.L3_4_3{-webkit-mask-image: url('../../images/creatures/M3_4_3.png');}*/
  }
  &.gotit{
    &.L1_1_1{background: transparent url('../../images/creatures/M1_1_1.png') no-repeat center center;}
    &.L1_1_2{background: transparent url('../../images/creatures/M1_1_2.png') no-repeat center center;}
    &.L1_1_3{background: transparent url('../../images/creatures/M1_1_3.png') no-repeat center center;}
    &.L2_1_1{background: transparent url('../../images/creatures/M2_1_1.png') no-repeat center center;}
    &.L2_1_2{background: transparent url('../../images/creatures/M2_1_2.png') no-repeat center center;}
    &.L2_1_3{background: transparent url('../../images/creatures/M2_1_3.png') no-repeat center center;}
    &.L2_2_1{background: transparent url('../../images/creatures/M2_2_1.png') no-repeat center center;}
    &.L2_2_2{background: transparent url('../../images/creatures/M2_2_2.png') no-repeat center center;}
    &.L2_2_3{background: transparent url('../../images/creatures/M2_2_3.png') no-repeat center center;}
    &.L3_1_1{background: transparent url('../../images/creatures/M3_1_1.png') no-repeat center center;}
    &.L3_1_2{background: transparent url('../../images/creatures/M3_1_2.png') no-repeat center center;}
    &.L3_1_3{background: transparent url('../../images/creatures/M3_1_3.png') no-repeat center center;}
    &.L3_2_1{background: transparent url('../../images/creatures/M3_2_1.png') no-repeat center center;}
    &.L3_2_2{background: transparent url('../../images/creatures/M3_2_2.png') no-repeat center center;}
    &.L3_2_3{background: transparent url('../../images/creatures/M3_2_3.png') no-repeat center center;}
    &.L3_3_1{background: transparent url('../../images/creatures/M3_3_1.png') no-repeat center center;}
    &.L3_3_2{background: transparent url('../../images/creatures/M3_3_2.png') no-repeat center center;}
    &.L3_3_3{background: transparent url('../../images/creatures/M3_3_3.png') no-repeat center center;}
  /*  &.L3_4_1{background: transparent url('../../images/creatures/M3_4_1.png') no-repeat center center;}
    &.L3_4_2{background: transparent url('../../images/creatures/M3_4_2.png') no-repeat center center;}
    &.L3_4_3{background: transparent url('../../images/creatures/M3_4_3.png') no-repeat center center;}*/
  }
}

&.div{
  &.notyet{
    &.L1_1_1{-webkit-mask-image: url('../../images/creatures/D1_1_1.png');}
    &.L1_1_2{-webkit-mask-image: url('../../images/creatures/D1_1_2.png');}
    &.L1_1_3{-webkit-mask-image: url('../../images/creatures/D1_1_3.png');}
    &.L2_1_1{-webkit-mask-image: url('../../images/creatures/D2_1_1.png');}
    &.L2_1_2{-webkit-mask-image: url('../../images/creatures/D2_1_2.png');}
    &.L2_1_3{-webkit-mask-image: url('../../images/creatures/D2_1_3.png');}
    &.L2_2_1{-webkit-mask-image: url('../../images/creatures/D2_2_1.png');}
    &.L2_2_2{-webkit-mask-image: url('../../images/creatures/D2_2_2.png');}
    &.L2_2_3{-webkit-mask-image: url('../../images/creatures/D2_2_3.png');}
    &.L3_1_1{-webkit-mask-image: url('../../images/creatures/D3_1_1.png');}
    &.L3_1_2{-webkit-mask-image: url('../../images/creatures/D3_1_2.png');}
    &.L3_1_3{-webkit-mask-image: url('../../images/creatures/D3_1_3.png');}
    &.L3_2_1{-webkit-mask-image: url('../../images/creatures/D3_2_1.png');}
    &.L3_2_2{-webkit-mask-image: url('../../images/creatures/D3_2_2.png');}
    &.L3_2_3{-webkit-mask-image: url('../../images/creatures/D3_2_3.png');}
    &.L3_3_1{-webkit-mask-image: url('../../images/creatures/D3_3_1.png');}
    &.L3_3_2{-webkit-mask-image: url('../../images/creatures/D3_3_2.png');}
    &.L3_3_3{-webkit-mask-image: url('../../images/creatures/D3_3_3.png');}
  /*  &.L3_4_1{-webkit-mask-image: url('../../images/creatures/D3_4_1.png');}
    &.L3_4_2{-webkit-mask-image: url('../../images/creatures/D3_4_2.png');}
    &.L3_4_3{-webkit-mask-image: url('../../images/creatures/D3_4_3.png');}*/
  }
  &.gotit{
    &.L1_1_1{background: transparent url('../../images/creatures/D1_1_1.png') no-repeat center center;}
    &.L1_1_2{background: transparent url('../../images/creatures/D1_1_2.png') no-repeat center center;}
    &.L1_1_3{background: transparent url('../../images/creatures/D1_1_3.png') no-repeat center center;}
    &.L2_1_1{background: transparent url('../../images/creatures/D2_1_1.png') no-repeat center center;}
    &.L2_1_2{background: transparent url('../../images/creatures/D2_1_2.png') no-repeat center center;}
    &.L2_1_3{background: transparent url('../../images/creatures/D2_1_3.png') no-repeat center center;}
    &.L2_2_1{background: transparent url('../../images/creatures/D2_2_1.png') no-repeat center center;}
    &.L2_2_2{background: transparent url('../../images/creatures/D2_2_2.png') no-repeat center center;}
    &.L2_2_3{background: transparent url('../../images/creatures/D2_2_3.png') no-repeat center center;}
    &.L3_1_1{background: transparent url('../../images/creatures/D3_1_1.png') no-repeat center center;}
    &.L3_1_2{background: transparent url('../../images/creatures/D3_1_2.png') no-repeat center center;}
    &.L3_1_3{background: transparent url('../../images/creatures/D3_1_3.png') no-repeat center center;}
    &.L3_2_1{background: transparent url('../../images/creatures/D3_2_1.png') no-repeat center center;}
    &.L3_2_2{background: transparent url('../../images/creatures/D3_2_2.png') no-repeat center center;}
    &.L3_2_3{background: transparent url('../../images/creatures/D3_2_3.png') no-repeat center center;}
    &.L3_3_1{background: transparent url('../../images/creatures/D3_3_1.png') no-repeat center center;}
    &.L3_3_2{background: transparent url('../../images/creatures/D3_3_2.png') no-repeat center center;}
    &.L3_3_3{background: transparent url('../../images/creatures/D3_3_3.png') no-repeat center center;}
  /*  &.L3_4_1{background: transparent url('../../images/creatures/D3_4_1.png') no-repeat center center;}
    &.L3_4_2{background: transparent url('../../images/creatures/D3_4_2.png') no-repeat center center;}
    &.L3_4_3{background: transparent url('../../images/creatures/D3_4_3.png') no-repeat center center;}*/
  }
}

&.ran{
  &.notyet{
    &.queen{-webkit-mask-image: url('../../images/creatures/queen.png');}
  }
  &.gotit{
    &.queen{background: transparent url('../../images/creatures/queen.png') no-repeat center center;}
  }
}
