@import '../../css/variables';
@import '../../css/mixins';

.gameplaymath.main{
  background: transparent url('../../images/bg.jpg') no-repeat top left;
  background-size:cover;
  // height:96vh;
  max-width: 425px;
  // padding: 2vh;
  // flex-direction: column;
  // justify-content: center;
  .wrapper{
    display: block;
    padding: 0;
    width: 100%;
    position: relative;
    height: 100%;
  }
  .gameArt{
    position: absolute;
    overflow: hidden;
    height: 90%;
    width: 100%;
    .wizard{
      width:60%;
      height:50vh;
      top: 25%;
      position: absolute;
    }
    .wizard-battle{
      background: transparent url('../../images/wizard-battle.png') no-repeat top left;
      background-size:cover;
      left: -70%;
      transition: left 0s;
      &.ready{
        left: 5%;
        transition: left 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.rematch{
        left:-70%!important;
      }
    }
    .wizard-defeat{
      background: transparent url('../../images/wizard-defeat.png') no-repeat top left;
      background-size:cover;
      opacity:0;
      left:17%;
      transform: scale(1);
      &.ready{
        opacity:1;
        top:28%;
        transition: transform 2s, top 2s;
        transform: scale(1.25);
      }
    }

    .wizard-victory{
      background: transparent url('../../images/wizard-victory.png') no-repeat top left;
      background-size:cover;
      opacity:0;
      transition: transform 2s, top 2s;
      left:17%;
      &.ready{
        animation-name: kill-wizard;
        animation-fill-mode: forwards;
        animation-duration: 2s;
        animation-delay: 0s;
        animation-timing-function: linear;
      }
    }

    .student{
      background: transparent url('../../images/student.png') no-repeat top left;
      background-size:cover;
      width:50%;
      height:40vh;
      // background-color: green;
      top: 45%;
      left: 100%;
      position: absolute;
      transition: left 0s;
      &.ready{
        left: 45%;
        transition: left 2.5s .25s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
      &.rematch{
        left:100%!important;
      }
    }
    .countdown {
      width: 100%;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 5em;
      position: absolute;
      top: 50%;
      margin-top: -35px;
      -webkit-text-stroke: 1px darkred;
      text-shadow: 0px 0px 25px rgba(0,0,0,0.4);
      opacity:1;
      transition:opacity .5s;
      &.ready{
        opacity:0;
      }
    }
  }

  &.health{
    .countdown{
      display:none;
    }
  }
  .flashcard {
    padding:1rem;
    background: white;
    border-radius: 1em;
    border:1px solid black;
    position:relative;
    width:263px;
    height:465px;
    @media only screen and (min-width: 375px) {
        width: 319px;
        height: 525px;
    }
    @media only screen and (min-width: 425px) {
        width: 368px;
    }
    opacity:0;
    transition:opacity .25s,top .25s;
    margin: 1em auto;
    margin-top:3em;
    // top:60%;
    &.battle{
      opacity:1;
      margin-top:.8em;
      transition:opacity .5s .5s,margin-top .5s .5s;

    }
  }
}
