body {
  // padding: 2rem;
  margin:0;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;

  background-color: #fff;
  max-width: 425px;
  margin:0 auto;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
          line-height: 1.1;
}

.inactive{
  // opacity:.3;
}

.bold{
  font-weight: bold;
}

.red{
  color:red;
}

.green{
  color:green;
}

.main{
  height:100vh;
  top:0;
  .main-fade{
    opacity:0;

    transition: opacity .5s;
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    align-items: center;
    text-align: center;
  }
}
