@import '../../css/variables';
@import '../../css/mixins';

.numberpad-wrapper{
  width:100%;
  //display: flex;
  // flex-flow: row wrap;
  position: relative;
  display:block;
  float:left;
  text-align: left;
  .numbers{
    width:70%;
    float:left;
    display: inline-block;
  }
  .answer{
    // flex: 0 1 11%;
    margin: 0.4em 0.8% 0;
    padding: 1% 0;
    display: inline-block;
    text-align: center;
    width: 18%;
  }
  .cast-btn{
    float: left;
    width: 30%;
    // margin-left:3%;
    display: inline-block;
    margin-top: 0.9em;
    .staff-art{
      text-indent: -999px;
      width:100%;
      height:0;
      padding-bottom: 100%;
      background: transparent url('../../images/cast-default.png') no-repeat top center;
      background-size:cover;
      &.fire{
        background: transparent url('../../images/cast-fire.png') no-repeat top center;
        background-size:cover;
      }
    }
  }
  .answerbox {
    // float:left;
    opacity: 0;
    position: absolute;
    top: -185px;
    left: 15px;
    // min-width: 150px;
    // min-height: 150px;
    transform: rotate(-15deg);
    padding: 0;
    margin: 0;
    // border: 2px solid gray;
    // width: 20%;
    display: inline-block;
    text-align: center;
    font-size: 3.5em;
    border-radius: 1em;
    // min-height: 64px;

    // background-color: lightblue;
    transition:opacity .5s .5s;
    &.inprogress{
      opacity:1;
      transition:opacity .5s;
      &:after{
        // content:'x';
        position:absolute;
        border-radius:50%;
        border: 1px solid black;
        background:yellow;
        font-size: 20px;
        font-weight: normal;
        width: 22px;
        height: 22px;
        bottom: 4%;
        right: 4%;
      }
      .magic-wrapper{
        position: absolute;
        width:150px;
        height:150px;
        left:30%;
        // top:70%;
        .magic-child{
          position: absolute;
          top:0;
          left:0;
          margin-top:-75px;
          margin-left:-75px;
          &.magic-mask{
            width:100%;
            height:100%;
            &.flipped{
              transform: scale(-.9);
            }
            &:before{
              content:'';
              width:200%;
              height:200%;
              position: absolute;
              top:-50%;
              left:-50%;
            }
            &.rotateit{
              animation-duration: 3s;
              animation-name: rotateit;
              animation-timing-function: linear;
              animation-iteration-count: infinite;
              animation-direction: forwards;
            }
          }
        }
        &.default{
          .magic-child{
            &.magic-mask{
              -webkit-mask-image: url('../../images/sparkle.png');
              -webkit-mask-repeat: no-repeat;
              -webkit-mask-size: 150px;
              &:before{
                background: transparent url('../../images/radial.jpg') no-repeat top center;
                background-size:cover;
                animation-duration: 3s;
                animation-name: rotateit;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: forwards;
              }
              &.rotateit{
                animation-duration: 3s;
                animation-name: rotateit;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: forwards;
              }
            }
          }
        }
        &.fire{
          drop-shadow:0px 0px 10px black;
          &:before{
            content:'';
            width:120%;
            height:120%;
            top:-60%;
            left:-60%;
            position: absolute;
            background: transparent url('../../images/smoke-ring.png') no-repeat top center;
            background-size:cover;
            animation-duration: 5s;
            animation-name: smoke-ring;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: forwards;
            // opacity:.5;
          }
          .magic-child{
            &.magic-mask{
              -webkit-mask-image: url('../../images/fire.png');
              -webkit-mask-repeat: no-repeat;
              -webkit-mask-size: 150px;
              // -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0, .25));
              transform: rotate(15deg);
              opacity:.7;

              &.rotateit{
                animation-duration: 1.5s;

              }
              &:before{
                background: transparent url('../../images/heat.jpg') no-repeat top center;
                background-size:cover;
                animation-duration: 1.5s;
                animation-name: rotateit;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: forwards;
              }

              &.flipped-rotateit{
                animation-duration: 2s;
                animation-name: flipped-rotateit;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: forwards;
                animation-delay: 0s;
                opacity:.9;
                background: transparent url('../../images/heat.jpg') no-repeat top center;
                background-size:cover;
                &:before{
                  animation-delay: 1s;
                  animation-duration: 2s;
                }
              }
              &.flipped{
                &:before{
                  animation-delay: 3s;
                }
              }
            }
          }
        }
      }
    }
    .yourAnswer{
      opacity:.85;
      transition:opacity 0s 0s;
      position: relative;
      top: -.4em;
      width:200px;
      margin-left:-55px;
      font-weight: normal;
      font-size: 1.5em;
      color: #ef203f;
      text-shadow: 0px 0px 8px rgba(255,255,255,.6);
      &.fire{
        color:#f47018;
        text-shadow: 0px 0px 8px rgba(255,255,255,.75);
      }
    }
    &.correct .yourAnswer{color:green!important;}
    &.incorrect .yourAnswer{color:red!important;}
    &.correct,&.incorrect{
      .yourAnswer{
        transition:opacity .5s .5s;
        opacity:0;
      }
      &.inprogress .magic-wrapper{
        opacity:0;
        transition:opacity .5s;
      }
    }
  }
}

@media only screen and (min-width: 375px) {

}
