@import '../../css/variables';
@import '../../css/mixins';

.page-main {
  padding:1rem;
}

.gameModes{
  display:flex;
  flex-direction: column;
  width:100%;
  a{
    background: white;
    padding: .75em 0;
    border-radius: 8px;
    border: 4px solid black;
    width:70%;
    text-align: center;
    text-decoration: none;
    color:black;
    margin:0 auto 1em;
  }
}
