@import '../../css/variables';
@import '../../css/mixins';

.stats.main {
  background: transparent url('../../images/bg.jpg') no-repeat top left;
  background-size:cover;
  .main-fade{
    height:100%;
  }
  .wrapper{
    height: 100%;
    margin: 0 5%;
    overflow: auto;
  }
}

.stats-btn{
  font-weight: normal;
  cursor: pointer;
  text-decoration: none;
  color:black;
}

.active{
  font-weight: bold;
}
