@import '../../css/variables';
@import '../../css/mixins';

.scoreboard-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
  height: 38px;
  top:-5px;
  position: relative;
  &.gameover{
    opacity:0;
  }
  .back-btn{
    background: black;
    color: white;
    text-decoration: none;
    top:5px;
    position: relative;
    // padding: 9px 11px 8px;
        height: 20px;
        width:20px;
  }
}
