@import '../../css/variables';
@import '../../css/mixins';

.scoreboard-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 3px solid black;
  .back-btn{
    background: black;
    color: white;
    text-decoration: none;
    padding: 9px 11px 8px;
  }
}
